<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="maintemplate">
<head>
    <meta charset="UTF-8">
    <title>Modifier Médecin</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3 col- gap-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Acceuil</a></li>
            <li class="breadcrumb-item"><a th:href="@{/user/index/doctors}">Liste des médecins</a></li>
            <li class="breadcrumb-item active">Modifier Médecin</li>
        </ol>
        <form method="post" th:action="@{/admin/doctors/save(keyword=${keyword},specialty=${specialty},page=${page})}">
            <div class="mt-3 mb-3">
                <label>ID </label>
                <input type="text" disabled="disabled" class="form-control" name="id" th:value="${doctor.id}">
                <span class="form-text text-dark" th:errors="${doctor.id}"> </span>
            </div>
            <div class="mt-3 mb-3 ">
                <label for="nom">Nom</label>
                <input id="nom" type="text" class="form-control" name="nom" th:value="${doctor.nom}">
                <span class="form-text text-dark" th:errors="${doctor.nom}"> </span>
            </div>
            <div class="mt-3 mb-3 align-item-center">
                <label for="specialty">Spécialité</label>
                <input id="specialty" type="text" class="form-control" name="specialty" th:value="${doctor.specialty}">
                <span class="form-text text-dark" th:errors="${doctor.specialty}"> </span>
            </div>
            <div class="mt-3 mb-3">
                <label for="ville">Ville</label>
                <input id="ville" type="text" class="form-control" name="ville" th:value="${doctor.ville}">
                <span class="form-text text-dark" th:errors="${doctor.ville}"> </span>
            </div>
            <div class="mt-3 mb-3">
                <label for="tel">Téléphone</label>
                <input id="tel" type="text" class="form-control" name="tel" th:value="${doctor.tel}">
                <span class="form-text text-dark" th:errors="${doctor.tel}"> </span>
            </div>
            <button type="submit" class="btn btn-primary">Save <i class="fas fa-save"></i></button>
        </form>
    </div>
</div>
</body>
</html>