<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorate="maintemplate">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<link >
<body>
<div layout:fragment="content1">
<div class="container mt-4">

    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/patient2.jpg" class="d-block w-100" alt="patient">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Liste des patients</h5>
                    <p>List de tous les patients qui ont pris ou prennent un traitement dans notre hopital.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/patient2.jpg" class="d-block w-100 img-responsive" alt="medecin">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Liste des patients</h5>
                    <p>Consulter tous les médecins qui travaillent chez nous aussi que leur spécialités et contacts.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/patient2.jpg" class="d-block w-100" alt="docteur">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Nos services en ligne</h5>
                    <p>Prenez un rendez-vous ou une consultation en ligne.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
</div>
</body>
</html>